@charset "utf-8";

/*SCSS变量----------------------------*/
$Color1:#1cb88b; //主颜色
$Color2:#36404d; //副颜色
$Color3:#f7f7f7; //页面标准白色
$Color4:#444444; //页面标准灰色
$fontColor:#222222; //字体颜色
$browser-default-font-size: 16px !default;
$card-width: 420px; //登陆窗宽度
$card-bgColor: #fff;  //登陆窗背景色
$headerHeight:44px; //头部高度
$tos-width: 700px; //tos宽度