@charset "UTF-8";
/*基础*/
/*SCSS变量----------------------------*/
/*工具------------------------------*/
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.inlineblock, .auth-btn a, .site-header .navbar-content .login-btn a, .site-header .navbar-content .register-btn a, .site-header .navbar-content .panel-btn a, .site-header .navbar-content .logout-btn a, .site-header .navbar-content .nav-main ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*px转rem----------------------------*/
/*浏览器更新提示----------------------------*/
.browserupgrade {
  margin: 0;
  padding: 1rem;
  background: #ccc; }

/*基础样式----------------------------*/
html {
  font-size: 16px;
  color: #222222; }

::selection {
  background-color: #1cb88b;
  text-shadow: none; }

ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f7f7f7;
  font-family: 'Lato','Microsoft YaHei', sans-serif; }

a {
  color: #222222;
  text-decoration: none; }

a:hover, a:active {
  color: #1cb88b;
  text-decoration: none; }

p {
  font-size: 0.8125rem; }

h3 {
  font-size: 2.125rem; }

h4 {
  font-size: 1.125rem;
  line-height: 5; }

input {
  margin: 0;
  padding: 0; }

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto; }

.phcolor {
  color: #999; }

/*自定义页面样式*/
html {
  height: 100%; }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 80px; }

/*background*/
.bg-img {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/theme/nooplus/img/bgblur1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

@media only screen and (max-width: 767px) {
  .bg-img {
    display: none;
    background-image: none; } }
/*header*/
.auth-btn, .site-header .navbar-content .login-btn, .site-header .navbar-content .register-btn, .site-header .navbar-content .panel-btn, .site-header .navbar-content .logout-btn {
  /*响应范围*/
  /*auth按钮基础样式*/
  width: 96px;
  width: 6rem;
  margin-top: 5px;
  height: 34px;
  line-height: 34px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 16px;
  font-size: 1rem; }
  .auth-btn a, .site-header .navbar-content .login-btn a, .site-header .navbar-content .register-btn a, .site-header .navbar-content .panel-btn a, .site-header .navbar-content .logout-btn a {
    color: #f7f7f7;
    width: 96px;
    height: 34px; }
    .auth-btn a i, .site-header .navbar-content .login-btn a i, .site-header .navbar-content .register-btn a i, .site-header .navbar-content .panel-btn a i, .site-header .navbar-content .logout-btn a i {
      margin-right: 10px;
      margin-right: 0.625rem; }

/*网站头部*/
.site-header .main-header {
  /*响应范围*/
  /*网站头部-导航条容器*/
  position: fixed;
  top: 54px;
  top: 3.375rem;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 150ms ease-in-out; }
.site-header .navbar-content {
  /*响应范围*/
  /*网站头部-导航条内容*/
  height: 44px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  line-height: 44px; }
  .site-header .navbar-content .nav-main {
    /*导航条菜单*/
    float: right; }
    .site-header .navbar-content .nav-main ul li {
      border-top: 4px solid transparent;
      border-top: 0.25rem solid transparent;
      line-height: 40px;
      line-height: 2.5rem;
      font-size: 14px;
      font-size: 0.875rem;
      padding: 0px 4px 0px 4px;
      padding: 0px 0.25rem 0px 0.25rem;
      transition: all 150ms ease-in-out;
      color: #444444; }
      .site-header .navbar-content .nav-main ul li + li {
        margin-left: 12px;
        margin-left: 0.75rem; }
      .site-header .navbar-content .nav-main ul li a {
        color: inherit; }
        .site-header .navbar-content .nav-main ul li a:hover {
          color: #1cb88b; }
    .site-header .navbar-content .nav-main .active {
      border-top: 4px solid #1cb88b;
      border-top: 0.25rem solid #1cb88b;
      color: #1cb88b; }
  .site-header .navbar-content .nav-bars {
    position: absolute;
    top: 0;
    right: 6%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #1cb88b;
    text-align: center;
    cursor: pointer; }
    .site-header .navbar-content .nav-bars i {
      color: #f7f7f7; }
  .site-header .navbar-content .logo {
    /*响应范围*/
    /*LOGO*/
    border-left: 24px solid #1cb88b;
    border-left: 1.5rem solid #1cb88b;
    padding-left: 28px;
    padding-left: 1.75rem;
    float: left;
    font-size: 20px;
    font-size: 1.25rem; }
    .site-header .navbar-content .logo a {
      color: #1cb88b; }
  .site-header .navbar-content .login-btn, .site-header .navbar-content .register-btn, .site-header .navbar-content .panel-btn, .site-header .navbar-content .logout-btn {
    float: right;
    margin-right: 10px;
    margin-right: 0.625rem; }
  .site-header .navbar-content .login-btn, .site-header .navbar-content .panel-btn {
    background-color: #1cb88b;
    margin-left: 30px;
    margin-left: 1.875rem; }
  .site-header .navbar-content .register-btn, .site-header .navbar-content .logout-btn {
    background-color: #36404d; }
.site-header .scrolled {
  /*网站头部滚动样式*/
  top: 0;
  transition: all 150ms ease-in-out; }

/*media-网站头部*/
/*IPAD-change(section)*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-header .container {
    width: 100%; }
  .site-header .main-header {
    top: 0; } }
/*PHONE-change(all)*/
@media only screen and (max-width: 767px) {
  .site-header .main-header {
    top: 0;
    border-top: 0.25rem solid #1cb88b; }
    .site-header .main-header .container {
      width: 100%; }
  .site-header .navbar-content {
    background-color: transparent;
    box-shadow: none;
    height: 0;
    overflow: hidden;
    transition: all 600ms ease-in-out; }
    .site-header .navbar-content .nav-main {
      float: none;
      transition: all 600ms ease-in-out; }
      .site-header .navbar-content .nav-main ul {
        background-color: #222222;
        opacity: 0.9; }
        .site-header .navbar-content .nav-main ul li {
          display: block;
          border-top: none !important;
          margin-left: 0 !important;
          padding: 0; }
          .site-header .navbar-content .nav-main ul li a {
            padding: 0 0.75rem;
            display: block; }
            .site-header .navbar-content .nav-main ul li a:active {
              background-color: #1cb88b; }
    .site-header .navbar-content .nav-bars {
      display: block !important; }
    .site-header .navbar-content .logo {
      display: none; }
    .site-header .navbar-content .login-btn, .site-header .navbar-content .register-btn, .site-header .navbar-content .logout-btn, .site-header .navbar-content .panel-btn {
      display: none; }
  .site-header .navbar-content-hidden {
    height: 224px;
    transition: all 600ms ease-in-out; } }
/*headerCustomized*/
.site-header .main-header {
  position: relative;
  top: 10px; }
.site-header .navbar-content {
  background-color: transparent;
  box-shadow: none; }
  .site-header .navbar-content .nav-main a {
    color: #f7f7f7 !important; }
    .site-header .navbar-content .nav-main a:hover {
      color: #1cb88b !important; }
  .site-header .navbar-content .nav-main .active {
    border-top: 4px solid transparent;
    color: #f7f7f7; }
  .site-header .navbar-content .logo {
    border-left: none; }

/*Card*/
/*card*/
.card-main {
  width: 420px;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  border-bottom: 4px solid #1cb88b;
  border-radius: 0.25rem;
  /*card公共样式*/
  /*card私有样式*/ }
  .card-main .card-header .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3125rem;
    color: #36404d;
    cursor: pointer; }
    .card-main .card-header .close-btn:hover {
      color: #1cb88b; }
  .card-main .card-header .card-tab {
    height: 46px;
    line-height: 46px;
    background-color: #1cb88b;
    text-align: center;
    color: #f7f7f7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
    .card-main .card-header .card-tab div {
      cursor: pointer; }
      .card-main .card-header .card-tab div:hover {
        background-color: #3ed0a6; }
    .card-main .card-header .card-tab .active {
      background-color: #3ed0a6; }
  .card-main .card-header .card-tab-x1 {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
    .card-main .card-header .card-tab-x1 div {
      width: 100%; }
  .card-main .card-header .card-tab-x2 div {
    float: left;
    width: 50%; }
    .card-main .card-header .card-tab-x2 div:first-child {
      border-top-left-radius: 0.25rem; }
    .card-main .card-header .card-tab-x2 div:last-child {
      border-top-right-radius: 0.25rem; }
  .card-main .card-body {
    padding: 0px 40px;
    text-align: center; }
    .card-main .card-body .form-group .public, .card-main .card-body .form-group input[type="text"], .card-main .card-body .form-group input[type="password"], .card-main .card-body .form-group button, .card-main .card-body .form-group select {
      height: 40px;
      height: 2.5rem;
      border-radius: 0.1875rem;
      margin-bottom: 16px; }
    .card-main .card-body .form-group input[type="text"], .card-main .card-body .form-group input[type="password"] {
      padding-left: 4%;
      padding-right: 4%;
      width: 92%;
      border: 1px solid #d1d1d1;
      line-height: 40px;
      line-height: 2.5rem; }
    .card-main .card-body .form-group button {
      width: 100%;
      background-color: #1cb88b;
      color: #f7f7f7;
      border: none; }
      .card-main .card-body .form-group button:hover {
        background-color: #22ca96; }
    .card-main .card-body .form-group button[disabled] {
      pointer-events: none;
      cursor: not-allowed;
      box-shadow: none;
      opacity: .45; }
    .card-main .card-body .form-group input[type="checkbox"] {
      width: 18px;
      width: 1.125rem;
      height: 18px;
      height: 1.125rem;
      vertical-align: middle; }
    .card-main .card-body .form-group select {
      padding-left: 4%;
      width: 100%;
      border: 1px solid #d1d1d1; }
    .card-main .card-body .form-group span {
      vertical-align: middle; }
  .card-main .card-footer {
    padding: 5% 40px 2% 40px; }
  .card-main .card-title {
    text-align: left;
    color: #1cb88b; }
    .card-main .card-title h3 {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 2; }
    .card-main .card-title h4 {
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1; }
  .card-main .card-login {
    display: none; }
    .card-main .card-login .card-avatar {
      line-height: 0 !important;
      margin: 16px 0px; }
      .card-main .card-login .card-avatar img {
        width: 100%;
        height: 100%;
        max-width: 88px;
        max-height: 88px;
        border: 4px solid #1cb88b;
        border-radius: 50%; }
    .card-main .card-login .card-footer .reset-btn {
      float: left; }
    .card-main .card-login .card-footer .register-btn {
      float: right; }
  .card-main .card-register {
    display: none; }
    .card-main .card-register .card-tos {
      text-align: left;
      margin: 10px 0px; }
      .card-main .card-register .card-tos a {
        color: #1cb88b; }
        .card-main .card-register .card-tos a:hover {
          text-decoration: underline; }
  .card-main .card-reset .login-btn {
    float: left; }
  .card-main .card-reset .register-btn {
    float: right; }

/*响应式card样式*/
/*PHONE-change(all)*/
@media only screen and (max-width: 767px) {
  .card-main {
    border-radius: 0px; }
    .card-main .card-header {
      border-top-radius: none !important; }
    .card-main .card-body {
      padding: 0 10%; } }
/*CardCustomized_Auth*/
.card-main-auth {
  position: relative;
  left: 50%;
  margin-left: -210px;
  margin-top: 100px; }

/*CardCustomized_Tos*/
.card-main-tos {
  position: relative;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  margin-top: 100px; }
  .card-main-tos .card-body {
    text-align: left; }

/*footer*/
/*网站尾部*/
.site-footer {
  width: 100%;
  height: auto;
  padding: 30px 0;
  padding: 1.875rem 0;
  text-align: center;
  background-color: #36404d;
  color: #f7f7f7;
  font-size: 13px;
  font-size: 0.8125rem; }
  .site-footer a {
    color: #f7f7f7;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
    border-bottom-color: #ccc; }
    .site-footer a:hover {
      color: #1cb88b;
      border-bottom-color: #1cb88b; }
  .site-footer .powered-by, .site-footer .theme-info {
    display: inline-block; }
  .site-footer .powered-by::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px; }

/*media-网站尾部*/
/*PHONE-change(all)*/
@media only screen and (max-width: 767px) {
  .site-footer {
    text-align: right; }
    .site-footer .powered-by, .site-footer .theme-info {
      display: block; }
    .site-footer .powered-by::after {
      display: none; } }
/*footerCustomized*/
.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background: none\9;
  background: none\0; }

/*模态窗*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://v3.bootcss.com/customize/?id=3f24d191d1d8062775b08f8227d1de0f)
 * Config saved to config.json and https://gist.github.com/3f24d191d1d8062775b08f8227d1de0f
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/*html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}*/
/*.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}*/
/*[role="button"] {
  cursor: pointer;
}*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*兼容IE7、8，原：left0 right0 bottom0 top0*/
  left: 50%;
  margin-left: -300px;
  /*兼容end*/
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  /*兼容IE8以下，media无效*/
  width: 600px\9; }

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

/*自行添加移动端自适应*/
@media (max-width: 767px) {
  .modal {
    margin-left: 0;
    left: 0;
    width: 90%;
    margin: 5%; }

  .modal-dialog {
    width: auto;
    margin: 0; } }
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

  .modal-sm {
    width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
/*.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}*/
/*.modal-header {
  border-bottom: none;
}*/
.modal-title {
  color: #222222; }

.modal-footer button {
  cursor: pointer;
  padding: 6px;
  border-radius: 0.1875rem;
  background-color: #1cb88b;
  color: #f7f7f7;
  border: none; }
  .modal-footer button:hover {
    background-color: #22ca96; }
.modal-footer button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: none;
  opacity: .45; }

/*media*/
/*响应式公共样式*/
/*PC*/
@media only screen and (min-width: 1200px) {
  .container {
    width: 90%; } }
/*laptop*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 90%; } }
/*IPAD-change(section)*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%; } }
/*PHONE-change(all)*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 18px; }

  .container {
    width: 80%; } }
/*mediaCustomized*/
/*PHONE-change(all)*/
@media only screen and (max-width: 767px) {
  body {
    padding-bottom: 0px; }

  .site-header .main-header {
    position: fixed;
    top: 0; }

  .card-main {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    left: 0; }

  .site-footer {
    display: none; } }

/*# sourceMappingURL=main.css.map */
